<!DOCTYPE html>
<html>
  <head>
    <title>Electionbuddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div> <br/> <%= link_to 'Take me to audit page', '/audit_elections' %> </div>
  </body>
</html>
